body {
	font-family: Roboto, sans-serif;
}

.headerBar { 
	display: flex;
	align-items: center;
	height: 47px;
	width: 100%;
	color: white;
	background-color: rgb(44, 102, 147);
	border-bottom: 1px solid rgba(32, 32, 32, 0.15);
	
	position: fixed;
	top: 0px;
	left: 0px;
    z-index: 1000;
}

.headerBarLogoBoxContainer {
	margin-right: 12px;
	border-right: 1px solid rgba(32, 32, 32, 0.15);
}

.headerBarLogoBox {
	display: flex;
	height: 40px; 
	width: 40px; 
	padding: 4px;
	justify-content: center;
	align-items: center;
}

.headerBarLogo {
	height: 27px;
	width: 25px;
}

.headerBarTitle {
	box-sizing: border-box;
	height: 16px;
	line-height: 16.1px; 
}

.headerBarExit {
	display: flex;
	margin-left: auto;
	box-sizing: border-box;
	margin-right: 8px;
	float: right; 
}

.mainView {
	margin-top: 48px;
}